<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/message.png">
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Mini Messageboard</h1>
    <a href="/new">Create New Message</a>
    <ul>
        <% messages.forEach(function(message, index){%>
            <li>
                <strong><%= message.user %></strong>: <%= message.text %>
                <br>
                <small><%= message.added.toLocaleString() %></small>
                <br>
                <a href="/message/<%= index %>">Open</a>
            </li>
       <% }) %>
    </ul>
</body>
</html>